<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hipokryta.testlistview" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.AppCompat.Light" >
        <activity
            android:name=".MyMainActivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.AppCompat.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hipokryta.testlistview.MyMainActivity.MainActivity" />
        </activity>
        <activity
            android:name=".ListView.MyListView.PodstawowyListView"
            android:label="@string/app_name"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListView.MyListView.ListViewArrayAdapterIkony"
            android:label="@string/app_name"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListView.MyListView.ListViewBaseAdapter"
            android:label="@string/title_activity_list_view_base_adapter"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light" >
        </activity>
        <activity
            android:name=".Widgets.MyEditText.MyTestLayoutInflater.TestLayoutInflater"
            android:label="@string/title_activity_test_layout_inflater"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light" >
        </activity>
        <activity
            android:name=".ListView.MyListView.MyGridView.MyGridView"
            android:label="@string/title_activity_my_grid_view"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light" >
        </activity>
        <activity
            android:name=".ListView.MyListView.MyGridView.MyDialogBox"
            android:label="@string/title_activity_my_dialog_box"
            android:theme="@android:style/Theme.WallpaperSettings" >
        </activity>
        <activity
            android:name=".Widgets.MyEditText.MyEditText"
            android:label="@string/title_activity_my_edit_text"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light" >
        </activity>
        <activity
            android:name=".Widgets.MyEditText.MyTextView.MyTextView"
            android:label="@string/title_activity_my_text_view"
            android:theme="@style/MyActionBar" >
        </activity>
        <activity
            android:name=".MyActionBar.MyActionBar"
            android:label="@string/title_activity_my_action_bar"
            android:theme="@style/MyActionBarCustomStyle" >
        </activity>
        <activity
            android:name=".MyActionBar.MyActionBarProgrammaticlly"
            android:label="@string/title_activity_my_action_bar_programmaticlly"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light" >
        </activity>
        <activity
            android:name=".LoginActivity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".SavingData.SavingData.SharedPreferences.MainSharedPreferences"
            android:label="@string/title_activity_main_shared_preferences"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light" >
        </activity>
        <activity
            android:name=".SavingData.SavingData.SharedPreferences.SaveActivitySharedPreferences"
            android:label="@string/title_activity_save_activity_shared_preferences"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light" >
        </activity>
        <activity
            android:name=".SavingData.SavingData.SavingData"
            android:label="@string/title_activity_saving_data"
            android:theme="@style/myDialog" >
        </activity>
        <activity
            android:name=".SavingData.SavingData.SavindData.File.SaveFile"
            android:label="@string/title_activity_main_saving_file"
            android:theme="@style/myDialog" >
        </activity>
        <activity
            android:name=".SavingData.SavingData.Cache.CacheActivity"
            android:label="@string/title_activity_cache" >
        </activity>
        <activity
            android:name=".MyOpenGL.OpenGLStroboscobe"
            android:label="@string/title_activity_my_open_gl" >
        </activity>
        <activity
            android:name=".MyOpenGL.MainOpenGL"
            android:label="@string/title_activity_main_open_gl" >
        </activity>
        <activity
            android:name=".MyOpenGL.OpenGLPyramid"
            android:label="@string/title_activity_open_glpyramid" >
        </activity>
        <activity
            android:name=".Localization.LocalizationMainActivity"
            android:label="@string/title_activity_localization_main"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light">
        </activity>
        <activity
            android:name=".Localization.GPS.GetLocationWithGPS"
            android:label="@string/title_activity_get_location_with_gps"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light">
        </activity>
        <activity
            android:name=".Localization.GPS.MainGPSActivity"
            android:label="@string/title_activity_main_gps"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light">
        </activity>
        <activity
            android:name=".Localization.GPS.ProviderDetail"
            android:label="@string/title_activity_provider_detail"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light">
        </activity>
    </application>

</manifest>
